

.produto{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    flex-direction:  row;
    list-style: none;

    
}
.delete-button{
    background-color:red;
    font-size: 10pt;
    border-radius: 40%;
    color: aliceblue;
    font-weight: bold;
}
.produto:nth-child(even){
    background-color:#FFF1C1;
    border-bottom: 1px solid #000; 
    
}
.produto:nth-child(odd){
    background-color: #FFF;
}
#form{
    display: flex;
    justify-content:center;
    padding:25px;
    width: 420px;
    height: 439px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 439px;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    

}
#btAtualizar{
    font-size: 24px;
    width: 167px;
    height: 46px;
    color: #FFF;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    border-radius: 4px;
    background: #48A4FA;
    flex-shrink: 0;
}
#btCancelar{
    width: 118px;
    height: 46px;
    color: #444444;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    border-radius: 4px;
    background-color: #F59999;
}
.layout{
    padding: 50px;
    width: 1440px;
    height: 1024px;  
    background-color: #FEFFE4;

}
#preco, #descricao, #id{
    color: #9A9A9A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.bts{
    display: flex;
    justify-content:space-evenly
    
    
}
#conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    text-align: center;
}